.divFooterWebapp {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1111px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  margin: 0 auto;
  background: #efbf04;
  /* background: transparent; */
  padding: 1px 1px;
  border-radius: 0;
}

.footerIconBtn {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.footerIconBtnActive {
  /* background: #2d08d2; */
  color: #ff3d00;
  /* border-radius: 4px; */
}
