/* :global(html),
:global(body),
:global(#__next) {
  width: 100%;
  height: 100%;
  margin: 0;
} */

.pageEachComplxMain {
  /* background: linear-gradient(180deg, #ffffff 0%, #e7d404 45%, #d20692 100%); */
  padding: 0;
  margin: 0 auto;
  /* width: 100vw; */
  width: 1111px;
  height: 100vh;
  background-color: chocolate;
}
.containerEachComplxMain {
  /* width: 100vw; */
  width: 1111px;
  height: 100vh;
  background: rgb(212, 5, 5);
  overflow-x: hidden;
  position: relative;
}

.divEachComplxMain {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 40px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  background: #0ae095;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  margin: 3px;
  padding: 5px;
}

.divWraperLevelsAndLastWatch {
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  background-color: #f48d99;
}
.divLevBtnAndHzSvLev {
  position: relative;
  top: 0;
  width: 100%;
  min-width: 0;
  /* min-height: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(199, 109, 209);
  margin: 10px;
  overflow: hidden;
}

.divSvLevelsBtn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.divSvLevelsBtn2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #d20692;
  /* background-color: transparent; */
  padding: 1px;
  margin: 1px;
  /* visibility: hidden; */
}

.divSvLevelsBtn2::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.divSvLevelsBtn2::-webkit-scrollbar-track {
  background: #595555;
}
.divSvLevelsBtn2::-webkit-scrollbar-thumb {
  background: #efbf04;
}

.btnLevvel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-family: Helvetica;
  font-weight: 700;
  text-shadow: 1px 1px 2px #efbf04;
  text-align: center;
  border: 3px solid #8f0177;
  margin: 0;
  padding: 3px 6px;
  flex: 0 0 auto;
  /* gap: 0; */
}
.btnLevvel + .btnLevvel {
  margin-left: -1px;
}
.divSvLevelsBtn2 .btnLevvel:first-child {
  /* استایل دکمه اول */
  background-color: #8f0177;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #eeeded;
}
.divSvLevelsBtn2 .btnLevvel:last-child {
  /* استایل دکمه آخر */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* aaaa */
.divhzSvLevels {
  display: flex;
  width: 100%;
  min-width: 0;
  /* height: 70%; */
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: row;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  background-color: transparent;
  background-color: #43ef04;
  overscroll-behavior: contain;
  /* visibility: hidden; */
  /* margin: 6px; */
  padding: 10px;
}
.h3ExpainComplx {
  width: 60%;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 800;
  font-family: sansFa;
  background-color: #ffff80;
  /* background-color: transparent; */
  top: 0;
  display: block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 99px;
  padding: 2px;
  white-space: normal;
  line-height: 1.2em;
  margin: 5px;
  flex-wrap: nowrap;
}
.h3ExpainComplx .secondLine {
  font-size: 0.7em;
}
.h1OnlyForSs {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.divSvEachLevel {
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  background-color: transparent;
  background-color: #8f8d01;
  overflow: hidden;
  /* overscroll-behavior: contain; */
  margin: 5px;
  padding: 5px;
  flex: 0 0 100%;
  margin: 0;
}

.divSvLessOfLevel {
  background-color: transparent;
  background-color: #7f7a75e0;
  width: 100%;
  min-width: 0;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  /* flex: 1; */
  overflow-x: hidden;
  overflow-y: auto;
}
.divSvLessOfLevel::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.divSvLessOfLevel::-webkit-scrollbar-track {
  background: #595555;
}
.divSvLessOfLevel::-webkit-scrollbar-thumb {
  background: #efbf04;
}

.divLesG3Gram {
  background-color: transparent;
  background-color: #99f48d;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-overflow-scrolling: touch;
}
.stylTagGraBtn,
.stylTagSeasyBtn,
.stylTagG3WdBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal;
}

.pNamBtnHaSeasson {
  margin: 0;
  text-align: center;
}

.stylTagGraBtn {
  width: 28%;
  height: auto;
  background-color: #2e323a;
  color: white;
  border: 0;
  border-top-left-radius: 6vw;
  border-bottom-left-radius: 6vw;
  padding: 5px 3px;
  margin: 0 1%;
  /* margin-right: 2%; */
  box-shadow: 0vw 0.1vw 1vw 0.1vw #505050;
  padding-right: 48px;
}

.stylTagSeasyBtn {
  position: relative;
  width: 39%;
  height: auto;
  background-color: #ffffff;
  color: rgb(9, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1% solid #8f0177;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 6vw;
  padding: 0;
  margin-right: 4vw;
  box-shadow: 0 1px 2px 1px #505050;
  font-size: 20px;
}

.iconPlayLes {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4145;
  margin: 0;
  padding: 0;
}

.stylTagG3WdBtn {
  width: 20%;
  height: auto;
  background-color: #8f0177;
  color: white;
  border: 0;
  border-radius: 6vw;
  padding: 0;
  box-shadow: 0 1px 2px 1px #505050;
  text-shadow: 0 1px 1px #1c1c1c;
}

.stylLnkLastWatchMain {
  position: static;
  width: 30%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2c307;
  margin: 5px;
  padding: 3px 3px;
  border-radius: 8px;
}
.divLastWatchMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: rgb(233, 233, 233);
  overflow: hidden;
  border: 1px solid #d7dee0;
  box-shadow: 1px 1px 10px #313133;
  border-radius: 13px;
  transition:
    transform 200ms ease,
    box-shadow 200ms ease;
}
.divLastWatchMain:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}
.divLastWatchImgAndTimy {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 2px;
  margin: 2px;
  background-color: turquoise;
}
.divImgLastWatch {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.pLastWatchTime {
  position: absolute;
  bottom: 3px;
  right: 3px;
  margin: 0;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
}
.divTitlLastWatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: wheat;
}
.pLastWatchTitle1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
.pLastWatchTitle2 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
@media only screen and (max-width: 1111px) {
  .pageEachComplxMain {
    width: 100vw;
  }
  .containerEachComplxMain {
    width: 100%;
  }
  /* .divSvEachLevel {
    width: 100vw;
  }
  .h3ExpainComplx {
    width: 98vw;
  }

  .divSvLessOfLevel {
    width: 100vw;
  } */
}

/* Phone Portrait */
@media only screen and (orientation: portrait) and (max-width: 600px) {
  /* .divLevBtnAndHzSvLev {
    height: 60vh;
  } */
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  .divWraperLevelsAndLastWatch {
    flex-direction: column;
  }
  .stylLnkLastWatchMain {
    background-color: brown;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 23vh;
  }
}

/* Phone Landscape */
@media screen and (min-width: 600px) and (max-height: 600px) {
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .divWraperLevelsAndLastWatch {
    flex-direction: row;
  }
  .stylLnkLastWatchMain {
    background-color: rgb(2, 9, 157);
    position: static;
    width: 30%;
    height: 50vh;
  }
}
/* Tablet Portrait */
@media only screen and (orientation: portrait) and (min-width: 700px) {
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  .divWraperLevelsAndLastWatch {
    /* width: 100vw; */
    flex-direction: column;
  }
  .stylLnkLastWatchMain {
    background-color: rgb(165, 77, 42);
    position: absolute;
    bottom: 0;
    width: 70%;
  }
}
