/* :global(html),
:global(body),
:global(#__next) {
  width: 100%;
  height: 100%;
  margin: 0;
} */

.pageEachComplxMain {
  /* background: linear-gradient(180deg, #ffffff 0%, #e7d404 45%, #d20692 100%); */
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 1111px;
  height: 100vh;
  background-color: chocolate;
}
.containerEachComplxMain {
  width: 100vw;
  max-width: 1111px;
  height: 100vh;
  background: rgb(212, 5, 5);
  overflow-x: hidden;
  position: relative;
}

.divEachComplxMain {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  width: 100%;
  /* max-width: 800px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background: #0ae095;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  margin: 3px;
  padding: 5px;
}

.divLevBtnAndHzSvLev {
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(51, 77, 222);
  margin: 10px;
  overflow: hidden;
}

.divSvLevelsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #d20692;
  /* background-color: transparent; */
  padding: 1px;
  margin: 1px;
  /* visibility: hidden; */
}
.divSvLevelsBtn::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.divSvLevelsBtn::-webkit-scrollbar-track {
  background: #595555;
}
.divSvLevelsBtn::-webkit-scrollbar-thumb {
  background: #efbf04;
}

.btnLevvel {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-family: Helvetica;
  font-weight: 700;
  text-shadow: 1px 1px 2px #efbf04;
  text-align: center;
  border: 3px solid #8f0177;
  margin: 0;
  padding: 3px 6px;
  flex: 0 0 auto;
  /* gap: 0; */
}
.btnLevvel + .btnLevvel {
  margin-left: -1px;
}
.divSvLevelsBtn .btnLevvel:first-child {
  /* استایل دکمه اول */
  background-color: #8f0177;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #eeeded;
}
.divSvLevelsBtn .btnLevvel:last-child {
  /* استایل دکمه آخر */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.divSsdsdsd {
  /* grid-row: 3; */
  /* position: static; */
  /* bottom: 1px; */
  left: 10px;
  right: 10px;
  height: 20vh;
  background-color: #f2c307;
  padding: 3px 3px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
}

/* aaaa */
.divhzSvLevels {
  display: flex;
  width: 100%;
  min-width: 0;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: row;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  padding: 0;
  background-color: transparent;
  background-color: #43ef04;
  overscroll-behavior: contain;
  /* visibility: hidden; */
  /* margin: 6px; */
}
.h3ExpainComplx {
  width: 60%;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 800;
  font-family: sansFa;
  background-color: #ffff80;
  /* background-color: transparent; */
  top: 0;
  display: block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 99px;
  padding: 2px;
  white-space: normal;
  line-height: 1.2em;
  margin: 5px;
  flex-wrap: nowrap;
}
.h3ExpainComplx .secondLine {
  font-size: 0.7em; /* RelativeSize(0.7) */
}
.h1OnlyForSs {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.divSvEachLevel {
  display: flex;
  width: 100%;
  min-width: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  background-color: transparent;
  background-color: #8f8d01;
  overflow: hidden;
  /* overscroll-behavior: contain; */
  margin: 5px;
  padding: 5px;
  flex: 0 0 100%; /* shrink نشود */
  margin: 0;
}

.divSvLessOfLevel {
  background-color: transparent;
  background-color: #7f7a75e0;
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  /* flex: 1; */
  overflow-x: hidden;
  overflow-y: auto;
  /* margin: 3px; */
  /* padding: 3px; */
}
.divSvLessOfLevel::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.divSvLessOfLevel::-webkit-scrollbar-track {
  background: #595555;
}
.divSvLessOfLevel::-webkit-scrollbar-thumb {
  background: #efbf04;
}

.divLesG3Gram {
  background-color: transparent;
  background-color: #99f48d;
  width: 100%;
  min-width: 0;
  /* width: 800px; */
  /* height: 13vw; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-overflow-scrolling: touch;
}
.stylTagGraBtn,
.stylTagSeasyBtn,
.stylTagG3WdBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal;
}

.pNamBtnHaSeasson {
  margin: 0;
  text-align: center;
}

.stylTagGraBtn {
  width: 28%;
  height: auto;
  background-color: #2e323a;
  color: white;
  border: 0;
  border-top-left-radius: 6vw;
  border-bottom-left-radius: 6vw;
  padding: 5px 3px;
  margin: 0 1%;
  /* margin-right: 2%; */
  box-shadow: 0vw 0.1vw 1vw 0.1vw #505050;
  padding-right: 48px;
}

.stylTagSeasyBtn {
  position: relative;
  width: 39%;
  height: auto;
  background-color: #ffffff;
  color: rgb(9, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1% solid #8f0177;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 6vw;
  padding: 0;
  margin-right: 4vw;
  box-shadow: 0 1px 2px 1px #505050;
  font-size: 20px;
}

.iconPlayLes {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4145;
  margin: 0;
  padding: 0;
  /* background-color: rgb(17, 121, 212); */
  /* margin-left: 2vw; */
  /* font-family: Fontmatr; */
}

.stylTagG3WdBtn {
  width: 20%;
  height: auto;
  background-color: #8f0177;
  color: white;
  border: 0;
  border-radius: 6vw;
  padding: 0;
  box-shadow: 0 1px 2px 1px #505050;
  text-shadow: 0 1px 1px #1c1c1c;
}

@media only screen and (max-width: 1111px) {
  .pageEachComplxMain {
    width: 100vw;
  }
  .containerEachComplxMain {
    width: 100vw;
  }
  /* .divSvEachLevel {
    width: 100vw;
  }
  .h3ExpainComplx {
    width: 98vw;
  }

  .divSvLessOfLevel {
    width: 100vw;
  } */
}

/* Phone Portrait */
@media only screen and (max-width: 600px) {
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  .divEachComplxMain {
    flex-direction: column;
  }
  .divSsdsdsd {
    background-color: brown;
  }
}

/* Phone Landscape */
@media screen and (min-width: 600px) and (max-height: 600px) {
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .divSsdsdsd {
    background-color: rgb(42, 147, 165);
  }
}
/* Tablet Portrait */
/* @media only screen and (min-width: 800px) and (min-height: 700px) {
  .divSvLessOfLevel::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  .divEachComplxMain {
    width: 100vw;
    flex-direction: column;
  }
} */
